.market {
    background-image: url("https://res.cloudinary.com/keyzen/image/upload/v1615426892/ensamblartecl/0000338312_nxbimm.png");
    background-position: center;
    background-clip: border-box;
    background-size: cover;

    height:250px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    h2 {
    padding:1rem;
    color:#fff;
    font-size: $title;
    }

    a {
        text-decoration: none;
        color:#fff;
        font-weight: 500;
        padding:.5rem 1rem;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10gfpx;
        font-size: $subtitle;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
}