
/* Fuentes */
$primary-font:'Roboto', sans-serif;

/* Colores */
$cafe:#5C300B;
$cafeclaro:#C2A565;
$cafemedio:#8F6403;
$negro:#333;
$blanco:#fff;

/* Fuentes para phone */

$title:1.5rem;
$subtitle:1.2rem;   
$regular:1rem;

/* Fuentes para desktop */


$desktop-title:2rem;
$desktop-subtitle:1.5rem;
$desktop-regular:1.2rem;


/* Line height */


$lineheight: 1.5rem;


/* Solicitar button */

$solicitar: "#contact";